%ul.list-unstyled
  - @repositories.each do |repository|
    %li
      %h4= link_to repository.name, repository
      - if repository.offenses?
        - chart_bar = repository.chart_bar
        .mini-chart-bar
          .chart-bar{style: "width: #{chart_bar.conventions}%; background-color: #FECEA8;"}
          .chart-bar{style: "width: #{chart_bar.warnings}%; background-color: #FF847C;"}
          .chart-bar{style: "width: #{chart_bar.errors}%; background-color: #E84A5F;"}
          .chart-bar{style: "width: #{chart_bar.fatals}%; background-color: #F7464A;"}
      - else
        .mini-chart-bar
          .chart-bar{style: "width: 100%; background-color: #99B898;"}

      .small.last_run_at= repository.last_run_at
