- if @repository.latest_run.present?
  .text-right
    %ul.list-unstyled
      %li= link_to "#{octicon('sync')} Inspect last revision".html_safe, [:start_run, @repository], method: :post, class: 'btn btn-link'

.runs.panel.panel-default
  %table.table.runs
    %thead
      %tr
        %th Run
        %th Status
        %th Revision
        %th Summary
        %th
    %tbody
      - @repository.runs.each do |run|
        %tr
          %td.run= link_to run.sequence, [@repository, run]
          %td.status
            = octicon('ruby', "severity-#{run.status}")
          %td= run.revision
          %td
            = "#{run.summary.total_offenses} offenses"
            = "in #{run.summary.total_inspected_files} inspected files"
            = "of #{run.summary.total_files}"
          %td= run.created_at
