= content_for(:sub_navigation) do
  = semantic_navigation :primary, :config => :bootstrap, :class => 'nav navbar-nav' do |n|
    - n.item "#{octicon('pulse')} Pulse", @repository
    - if @repository.latest_run.present?
      - n.item "#{octicon('issue-opened')} Offenses", [@repository, :code]

  = semantic_navigation :primary, :config => :bootstrap, :class => 'nav navbar-nav navbar-right' do |n|
    %li{data: { toggle: 'tooltip', placement: 'bottom', title: 'Refresh' }}
      - if @repository.latest_run.present?
        = link_to "#{octicon('sync')} #{@repository.latest_run.decorate.revision}".html_safe, [:start_run, @repository], method: :post
