.repository
  %ol.breadcrumb.breadcrumb-navigation
    %li= link_to octicon('home'), :repositories
    %li= link_to 'Repositories', :repositories
    %li Settings

  %h3 Followed
  - @service.tested_repos.each do |repository|
    .panel.panel-default
      .panel-body
        = link_to repository.name, repository
        .pull-right
          = link_to octicon('mark-github'), repository.html_url, target: :blank
          = link_to octicon('trashcan'), repository, method: :delete, data: { confirm: 'Are you sure?' }

  %h3 Not checked
  - @service.untested_repos.each do |name|
    .panel.panel-default
      .panel-body
        = name

        .pull-right
          = link_to octicon('plus'), polymorphic_path(:repositories, repository: { name: name }), method: :post
