= content_for(:sub_navigation) do
  = semantic_navigation :primary, :config => :bootstrap, :class => 'nav navbar-nav' do |n|
    - n.item octicon('arrow-left'), [:repositories], data: { toggle: 'tooltip', placement: 'bottom', title: 'Go back'}

.row
  .col-md-2
    %ul.nav.nav-pills.nav-stacked
      %li Your projects
      %li
        = link_to [:settings, :repositories] do
          = image_tag(current_user.avatar_url, class: 'logo img-circle')
          = current_user.username
      %li Your organizations
      - @service.organizations.each do |organization|
        %li
          = link_to polymorphic_path([:settings, :repositories], organization_id: organization.id) do
            = image_tag(organization.avatar_url, class: 'logo img-circle')
            =  organization.name

  .col-md-10
    %h4 Start following your projects
    %p Choose a repository in GitHub from one of your repositories or your organizations.

    %ul.list-group
      - @service.repositories.each do |repository|
        %li.list-group-item
          - if repository.model.present?
            = link_to repository.name, repository.model
          - else
            = repository.name
          .pull-right
            - if repository.model.present?
              = link_to 'Unfollow', repository.model, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'
            - else
              = link_to 'Follow', polymorphic_path(:repositories, repository: { name: repository.name }), method: :post, class: 'btn btn-default btn-xs'
