= render 'navigation', :repository => @repository

.runs
  .panel.panel-default
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Offenses
          %th Inspected files
          %th Files
          %th Commit
          %th
      %tbody
        - @repository.runs.each do |run|
          %tr
            %td= sequence_label(run)
            %td= run.summary.total_offenses
            %td= run.summary.total_inspected_files
            %td= run.summary.total_files
            %td.commit
              %code= run.commit
            %td.actions= link_to 'Details', [@repository, run], :class => 'btn btn-default btn-xs'

  .pull-right= link_to "#{octicon('sync')} New run".html_safe, [:start_run, @repository], method: :post, :class => 'btn btn-default'
