= content_for(:sub_navigation) do
  = semantic_navigation :primary, :config => :bootstrap, :class => 'nav navbar-nav' do |n|
    - n.item octicon('arrow-left'), [:repositories], data: { toggle: 'tooltip', placement: 'bottom', title: 'Go back' }

    %li{data: { toggle: 'tooltip', placement: 'bottom', title: 'Run inspection' }}
      = link_to octicon('microscope'), [:start_run, @repository], method: :post

.repository
  - if @repository.runs.any?
    = render 'runs/runs', runs: @repository.runs
  - else
    .alert.alert-info{ role: 'alert' }
      %strong Hi again!
      You should probably
      = link_to 'start', [:start_run, @repository], method: :post, class: 'alert-link'
      a new inspection for this repository.
