.repository
  %ol.breadcrumb.breadcrumb-navigation
    %li= link_to octicon('home'), :root
    %li= link_to 'Repositories', :repositories
    %li.active= @repository.name

    .actions.pull-right
      = link_to [:start_run, @repository], method: :post, class: 'btn btn-default btn-xs' do
        = octicon('microscope')
        Inspect

  - if @repository.runs.any?
    = render 'runs/runs', runs: @repository.runs
  - else
    .alert.alert-info{ role: 'alert' }
      %strong Hi again!
      You should probably
      = link_to 'start', [:start_run, @repository], method: :post, class: 'alert-link'
      a new inspection for this repository.
