= simple_form_for @repository, { class: 'form-horizontal' } do |f|
  = f.input :github_repo_name
  = f.submit 'Add Repo', :class => 'btn btn-primary'


- if current_user
  = "Welcome #{current_user.username}"
- else
  = link_to "Sign in with Github", "/auth/github"

-client = Octokit::Client.new(:access_token => current_user.token)
%pre= p client.repos
