%table.table
  %thead
    %tr
      %th File path
      %th Conventions
      %th Warnings
      %th Errors
      %th Fatals
  %tbody
    - @run.inspections.each do |inspection|
      %tr
        %td= link_to inspection.file_path, { controller: :runs, action: :inspect, file_path: inspection.encoded_file_path }
        %td.conventions= inspection.total_conventions
        %td.warnings= inspection.total_warnings
        %td.erros= inspection.total_errors
        %td.fatals= inspection.total_fatals
