= render 'repositories/repository_navigation'

%ol.breadcrumb
  %li= link_to 'Overview', repository_run_path(@facade.repository, @facade.run)
  %li.active= @facade.file_path

.inspection
  .panel.panel-default
    .panel-body
      %h4= @facade.file_path
      - inspection = @facade.inspection
      %ul.list-inline.stats
        %li
          %span.value= inspection.total_conventions
          Conventions
        %li
          %span.value= inspection.total_warnings
          Warnings
        %li
          %span.value= inspection.total_errors
          Errors
        %li
          %span.value= inspection.total_fatals
          Fatals

  .panel.panel-default
    .panel-heading Code
    .panel-body
      = render_code(@facade.content, @facade.inspection)
