.inspections
  %ol.breadcrumb.breadcrumb-navigation
    %li= link_to octicon('home'), :root
    %li= link_to 'Repositories', :repositories
    %li= link_to @run.name, @run.repository
    %li.active= @run.sequence

  - if @run.inspections.any?
    = render 'inspections'
  - else
    .alert.alert-info{ role: 'alert' }
      %strong Hooray!
      Everything is fine!
